* {
    margin : 0;
    padding : 0;
}

#main {
    position : fixed;
    top : 0;
    left :0;
}

#main > canvas {
    position : absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    /* width: 800px;
    height: 600px; */
    margin-left: 100px;
    border: 4px inset violet;
    
}